@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body{
    background-color: #ffffff;
    font-family:"poppins",sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 150px;
    padding-right: 150px;
}
#nav{
    padding-left: 150px;
    padding-right: 150px;
}
#image_description a{
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
    padding-left: 15px;
}
#image_description a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}