@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body{
    background-color: white;
    font-family:"poppins",sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 150px;
    padding-right: 150px;
}